.Meal{
    margin: 0.5em auto;
    display: flex;
    width: 60%;
    height: 9em;
    background-color: rgb(245, 226, 192);
    margin-top: 1%;
    border-radius: 4px;
}

.ColumnOne{
    width: 25%;
    margin: auto;
}

.ColumnOne img{
    margin: auto;
    padding: 10px;
    width: 150px;
    height: 100px;
    box-shadow: cadetblue;
}

.ColumnTwo{
    width: 75%;
    align-items: center;
    text-align: center;
    margin: auto;
}

.OrderDiv{
    display: flex;
    margin: 0 20%;
    align-items: center;
    justify-content: space-between;
}

.OrderDiv input{
    margin-left: 5px;
    border-radius: 5px;
    border: 0.5px solid black;
}

.OrderDiv button{
    margin-left: 5px;
    background-color:transparent;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    color: green;
}

.OrderDiv button:focus{
    outline: none;
}

.OrderDiv button:hover{
    background-color: rgb(245, 226, 192);
    border:1px solid black;
}