.ModuleItem{
    border: 0.3px solid black;
    border-radius: 15px;
    background-color: rgb(245, 232, 209);
    animation: enlargen 0.3s ease-in-out;
}

.ModuleItem button{
    background-color: rgb(207, 164, 83);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px; 
}

.ModuleItem button:hover{
    background-color: transparent;
    border: 1px solid black;
}

.ModuleItem div {
  display: flex;
}

.CancelButton{
    width: 5em;
    color: red;
}

.UpperPart{
    align-items: center;
    justify-content: space-between;
    margin: auto 5%;
}

.UpperPart h1{
    margin-left:30%;
}

.LowerPart{
    align-items: center;
    justify-content: space-between;
    margin: auto 5%;
    margin-right: 0%
}

.LowerPart div{
    width: 40%;
}

.LowerPart p{
    margin-left: 5px;
}
.LowerPart button{
    width: 6em;
    margin: auto 5px;
}

@keyframes enlargen{
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}